@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

h1, button{
    font-family: 'Outfit';
}
p, li, h3, textarea, input{
    font-family: 'Inter';
}
h4{
    font-family: 'Archivo';
}