*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-\[16\.6vw\] {
  bottom: 16.6vw;
}

.bottom-\[17\.3vw\] {
  bottom: 17.3vw;
}

.bottom-\[22vw\] {
  bottom: 22vw;
}

.bottom-\[25vw\] {
  bottom: 25vw;
}

.bottom-\[5vw\] {
  bottom: 5vw;
}

.left-0 {
  left: 0px;
}

.left-\[2vw\] {
  left: 2vw;
}

.left-\[5vw\] {
  left: 5vw;
}

.left-\[6vw\] {
  left: 6vw;
}

.right-\[2vw\] {
  right: 2vw;
}

.right-\[4vw\] {
  right: 4vw;
}

.right-\[5vw\] {
  right: 5vw;
}

.top-0 {
  top: 0px;
}

.top-\[-15vw\] {
  top: -15vw;
}

.top-\[1\.5vw\] {
  top: 1.5vw;
}

.top-\[1vw\] {
  top: 1vw;
}

.top-\[2vw\] {
  top: 2vw;
}

.top-\[31vw\] {
  top: 31vw;
}

.top-\[6vw\] {
  top: 6vw;
}

.z-0 {
  z-index: 0;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.mb-\[2\2c 326\] {
  margin-bottom: 2,326;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-\[0\.5vw\] {
  margin-top: 0.5vw;
}

.mt-\[0\.9vw\] {
  margin-top: 0.9vw;
}

.mt-\[10vw\] {
  margin-top: 10vw;
}

.mt-\[120vw\] {
  margin-top: 120vw;
}

.mt-\[15vw\] {
  margin-top: 15vw;
}

.mt-\[17\.674vw\] {
  margin-top: 17.674vw;
}

.mt-\[20vw\] {
  margin-top: 20vw;
}

.mt-\[21\.86vw\] {
  margin-top: 21.86vw;
}

.mt-\[2vw\] {
  margin-top: 2vw;
}

.mt-\[30vw\] {
  margin-top: 30vw;
}

.mt-\[33vw\] {
  margin-top: 33vw;
}

.mt-\[35vw\] {
  margin-top: 35vw;
}

.mt-\[3vw\] {
  margin-top: 3vw;
}

.mt-\[5vw\] {
  margin-top: 5vw;
}

.mt-\[6vw\] {
  margin-top: 6vw;
}

.mt-\[7vw\] {
  margin-top: 7vw;
}

.mt-\[8vw\] {
  margin-top: 8vw;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[1\.163vw\] {
  height: 1.163vw;
}

.h-\[1\.563vw\] {
  height: 1.563vw;
}

.h-\[11\.628vw\] {
  height: 11.628vw;
}

.h-\[110\.698vw\] {
  height: 110.698vw;
}

.h-\[13\.023vw\] {
  height: 13.023vw;
}

.h-\[13\.151vw\] {
  height: 13.151vw;
}

.h-\[16\.279vw\] {
  height: 16.279vw;
}

.h-\[16\.779vw\] {
  height: 16.779vw;
}

.h-\[18\.605vw\] {
  height: 18.605vw;
}

.h-\[2\.6vw\] {
  height: 2.6vw;
}

.h-\[216\.744vw\] {
  height: 216.744vw;
}

.h-\[3\.385vw\] {
  height: 3.385vw;
}

.h-\[31\.207vw\] {
  height: 31.207vw;
}

.h-\[36\.965vw\] {
  height: 36.965vw;
}

.h-\[37\.442vw\] {
  height: 37.442vw;
}

.h-\[3vw\] {
  height: 3vw;
}

.h-\[4\.07vw\] {
  height: 4.07vw;
}

.h-\[4\.115vw\] {
  height: 4.115vw;
}

.h-\[4\.186vw\] {
  height: 4.186vw;
}

.h-\[4\.535vw\] {
  height: 4.535vw;
}

.h-\[4\.651vw\] {
  height: 4.651vw;
}

.h-\[400vh\] {
  height: 400vh;
}

.h-\[43\.256vw\] {
  height: 43.256vw;
}

.h-\[47\.442vw\] {
  height: 47.442vw;
}

.h-\[5\.5vw\] {
  height: 5.5vw;
}

.h-\[5\.814vw\] {
  height: 5.814vw;
}

.h-\[55\.542vw\] {
  height: 55.542vw;
}

.h-\[6\.977vw\] {
  height: 6.977vw;
}

.h-\[8\.14vw\] {
  height: 8.14vw;
}

.h-\[93\.658vw\] {
  height: 93.658vw;
}

.h-\[93\.826vw\] {
  height: 93.826vw;
}

.h-\[9vw\] {
  height: 9vw;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[13\.953vw\] {
  height: 13.953vw;
}

.max-h-0 {
  max-height: 0px;
}

.w-\[1\.563vw\] {
  width: 1.563vw;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[11\.406vw\] {
  width: 11.406vw;
}

.w-\[11\.628vw\] {
  width: 11.628vw;
}

.w-\[16\.279vw\] {
  width: 16.279vw;
}

.w-\[2\.326vw\] {
  width: 2.326vw;
}

.w-\[2\.5vw\] {
  width: 2.5vw;
}

.w-\[23\.75vw\] {
  width: 23.75vw;
}

.w-\[34\.884vw\] {
  width: 34.884vw;
}

.w-\[35vw\] {
  width: 35vw;
}

.w-\[39\.302vw\] {
  width: 39.302vw;
}

.w-\[3vw\] {
  width: 3vw;
}

.w-\[4\.186vw\] {
  width: 4.186vw;
}

.w-\[4\.651vw\] {
  width: 4.651vw;
}

.w-\[40\.465vw\] {
  width: 40.465vw;
}

.w-\[46\.512vw\] {
  width: 46.512vw;
}

.w-\[5\.5vw\] {
  width: 5.5vw;
}

.w-\[5\.814vw\] {
  width: 5.814vw;
}

.w-\[6\.047vw\] {
  width: 6.047vw;
}

.w-\[6\.977vw\] {
  width: 6.977vw;
}

.w-\[63\.023vw\] {
  width: 63.023vw;
}

.w-\[63\.256vw\] {
  width: 63.256vw;
}

.w-\[75\.116vw\] {
  width: 75.116vw;
}

.w-\[8\.14vw\] {
  width: 8.14vw;
}

.w-\[81\.395vw\] {
  width: 81.395vw;
}

.w-\[83\.023vw\] {
  width: 83.023vw;
}

.w-\[83\.256vw\] {
  width: 83.256vw;
}

.w-\[8vw\] {
  width: 8vw;
}

.w-full {
  width: 100%;
}

.w-\[13\.953vw\] {
  width: 13.953vw;
}

.max-w-\[64\.884vw\] {
  max-width: 64.884vw;
}

.max-w-\[74\.651vw\] {
  max-width: 74.651vw;
}

.max-w-\[83\.256vw\] {
  max-width: 83.256vw;
}

.max-w-full {
  max-width: 100%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[0\.625vw\] {
  gap: 0.625vw;
}

.gap-\[1vw\] {
  gap: 1vw;
}

.gap-\[3\.488vw\] {
  gap: 3.488vw;
}

.gap-x-\[12vw\] {
  -moz-column-gap: 12vw;
       column-gap: 12vw;
}

.gap-x-\[2vw\] {
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

.gap-x-\[4\.651vw\] {
  -moz-column-gap: 4.651vw;
       column-gap: 4.651vw;
}

.gap-x-\[4vw\] {
  -moz-column-gap: 4vw;
       column-gap: 4vw;
}

.gap-y-\[6\.977vw\] {
  row-gap: 6.977vw;
}

.gap-y-\[8vw\] {
  row-gap: 8vw;
}

.space-x-\[0\.781vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.781vw * var(--tw-space-x-reverse));
  margin-left: calc(0.781vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[1\.5vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5vw * var(--tw-space-x-reverse));
  margin-left: calc(1.5vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[1vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1vw * var(--tw-space-x-reverse));
  margin-left: calc(1vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[2\.326vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.326vw * var(--tw-space-x-reverse));
  margin-left: calc(2.326vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[2vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2vw * var(--tw-space-x-reverse));
  margin-left: calc(2vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[3vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3vw * var(--tw-space-x-reverse));
  margin-left: calc(3vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[4\.651vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(4.651vw * var(--tw-space-x-reverse));
  margin-left: calc(4.651vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[4vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(4vw * var(--tw-space-x-reverse));
  margin-left: calc(4vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[5vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(5vw * var(--tw-space-x-reverse));
  margin-left: calc(5vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[6\.977vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(6.977vw * var(--tw-space-x-reverse));
  margin-left: calc(6.977vw * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-\[0\.2vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.2vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.2vw * var(--tw-space-y-reverse));
}

.space-y-\[0\.5vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5vw * var(--tw-space-y-reverse));
}

.space-y-\[1\.4vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.4vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.4vw * var(--tw-space-y-reverse));
}

.space-y-\[1\.5vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5vw * var(--tw-space-y-reverse));
}

.space-y-\[12vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(12vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(12vw * var(--tw-space-y-reverse));
}

.space-y-\[1vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1vw * var(--tw-space-y-reverse));
}

.space-y-\[2vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2vw * var(--tw-space-y-reverse));
}

.space-y-\[3vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3vw * var(--tw-space-y-reverse));
}

.space-y-\[4\.651vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4.651vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4.651vw * var(--tw-space-y-reverse));
}

.space-y-\[4vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4vw * var(--tw-space-y-reverse));
}

.space-y-\[5vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5vw * var(--tw-space-y-reverse));
}

.space-y-\[6\.977vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(6.977vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6.977vw * var(--tw-space-y-reverse));
}

.space-y-\[6vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(6vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6vw * var(--tw-space-y-reverse));
}

.space-y-\[7vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(7vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(7vw * var(--tw-space-y-reverse));
}

.space-y-\[0\.7vw\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.7vw * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.7vw * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[0\.521vw\] {
  border-radius: 0.521vw;
}

.rounded-\[0\.781vw\] {
  border-radius: 0.781vw;
}

.rounded-\[1\.163vw\] {
  border-radius: 1.163vw;
}

.rounded-\[1\.563vw\] {
  border-radius: 1.563vw;
}

.rounded-\[1vw\] {
  border-radius: 1vw;
}

.rounded-\[2\.326vw\] {
  border-radius: 2.326vw;
}

.rounded-\[2vw\] {
  border-radius: 2vw;
}

.rounded-\[3\.488vw\] {
  border-radius: 3.488vw;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-\[0\.1vw\] {
  border-width: 0.1vw;
}

.border-\[0\.2vw\] {
  border-width: 0.2vw;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-main {
  --tw-border-opacity: 1;
  border-color: rgb(177 52 55 / var(--tw-border-opacity));
}

.bg-\[\#F9F9F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.bg-\[\#f9f9f9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.bg-main {
  --tw-bg-opacity: 1;
  background-color: rgb(177 52 55 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-black\/70 {
  --tw-gradient-from: rgb(0 0 0 / 0.7) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-black\/0 {
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
}

.fill-dark {
  fill: #323232;
}

.fill-transparent {
  fill: transparent;
}

.fill-white {
  fill: #fff;
}

.stroke-white {
  stroke: #fff;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-\[0\.521vw\] {
  padding: 0.521vw;
}

.p-\[0\.5vw\] {
  padding: 0.5vw;
}

.p-\[2\.326vw\] {
  padding: 2.326vw;
}

.p-\[2vw\] {
  padding: 2vw;
}

.p-\[5vw\] {
  padding: 5vw;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[1\.875vw\] {
  padding-left: 1.875vw;
  padding-right: 1.875vw;
}

.px-\[11\.628vw\] {
  padding-left: 11.628vw;
  padding-right: 11.628vw;
}

.px-\[1vw\] {
  padding-left: 1vw;
  padding-right: 1vw;
}

.px-\[2\.604vw\] {
  padding-left: 2.604vw;
  padding-right: 2.604vw;
}

.px-\[3\.7vw\] {
  padding-left: 3.7vw;
  padding-right: 3.7vw;
}

.px-\[3vw\] {
  padding-left: 3vw;
  padding-right: 3vw;
}

.px-\[5\.814vw\] {
  padding-left: 5.814vw;
  padding-right: 5.814vw;
}

.px-\[5vw\] {
  padding-left: 5vw;
  padding-right: 5vw;
}

.px-\[6\.977vw\] {
  padding-left: 6.977vw;
  padding-right: 6.977vw;
}

.px-\[8\.372vw\] {
  padding-left: 8.372vw;
  padding-right: 8.372vw;
}

.px-\[8vw\] {
  padding-left: 8vw;
  padding-right: 8vw;
}

.py-\[0\.95vw\] {
  padding-top: 0.95vw;
  padding-bottom: 0.95vw;
}

.py-\[2\.326vw\] {
  padding-top: 2.326vw;
  padding-bottom: 2.326vw;
}

.py-\[2\.8vw\] {
  padding-top: 2.8vw;
  padding-bottom: 2.8vw;
}

.py-\[2vw\] {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.py-\[3\.488vw\] {
  padding-top: 3.488vw;
  padding-bottom: 3.488vw;
}

.py-\[4\.651vw\] {
  padding-top: 4.651vw;
  padding-bottom: 4.651vw;
}

.py-\[6vw\] {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.pb-\[6vw\] {
  padding-bottom: 6vw;
}

.pe-\[3vw\] {
  padding-inline-end: 3vw;
}

.pe-\[8\.372vw\] {
  padding-inline-end: 8.372vw;
}

.ps-0 {
  padding-inline-start: 0px;
}

.ps-\[11\.667vw\] {
  padding-inline-start: 11.667vw;
}

.ps-\[8\.372vw\] {
  padding-inline-start: 8.372vw;
}

.pt-\[1vw\] {
  padding-top: 1vw;
}

.pt-\[20vw\] {
  padding-top: 20vw;
}

.pt-\[3vw\] {
  padding-top: 3vw;
}

.pt-\[5vw\] {
  padding-top: 5vw;
}

.pt-\[8vw\] {
  padding-top: 8vw;
}

.pb-\[3vw\] {
  padding-bottom: 3vw;
}

.text-center {
  text-align: center;
}

.text-\[0\.938vw\] {
  font-size: 0.938vw;
}

.text-\[1\.042vw\] {
  font-size: 1.042vw;
}

.text-\[1vw\] {
  font-size: 1vw;
}

.text-\[2\.791vw\] {
  font-size: 2.791vw;
}

.text-\[3\.256vw\] {
  font-size: 3.256vw;
}

.text-\[3\.721vw\] {
  font-size: 3.721vw;
}

.text-\[4\.186vw\] {
  font-size: 4.186vw;
}

.text-\[4\.651vw\] {
  font-size: 4.651vw;
}

.text-\[5\.581vw\] {
  font-size: 5.581vw;
}

.text-\[7\.907vw\] {
  font-size: 7.907vw;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#895125\] {
  --tw-text-opacity: 1;
  color: rgb(137 81 37 / var(--tw-text-opacity));
}

.text-\[\#8B8B8B\] {
  --tw-text-opacity: 1;
  color: rgb(139 139 139 / var(--tw-text-opacity));
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-main {
  --tw-text-opacity: 1;
  color: rgb(177 52 55 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder\:text-\[0\.938vw\]::-moz-placeholder {
  font-size: 0.938vw;
}

.placeholder\:text-\[0\.938vw\]::placeholder {
  font-size: 0.938vw;
}

.placeholder\:text-\[3\.256vw\]::-moz-placeholder {
  font-size: 3.256vw;
}

.placeholder\:text-\[3\.256vw\]::placeholder {
  font-size: 3.256vw;
}

.hover\:bg-\[\#F9F9F9\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.hover\:text-main:hover {
  --tw-text-opacity: 1;
  color: rgb(177 52 55 / var(--tw-text-opacity));
}

.focus\:outline-main:focus {
  outline-color: #B13437;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.group:hover .group-hover\:fill-dark {
  fill: #323232;
}

.group:hover .group-hover\:stroke-dark {
  stroke: #323232;
}

.group:hover .group-hover\:text-dark {
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-main {
  --tw-text-opacity: 1;
  color: rgb(177 52 55 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 430px) {
  .sm\:bottom-\[10vw\] {
    bottom: 10vw;
  }

  .sm\:bottom-\[2vw\] {
    bottom: 2vw;
  }

  .sm\:bottom-\[5\.3vw\] {
    bottom: 5.3vw;
  }

  .sm\:bottom-\[7\.5vw\] {
    bottom: 7.5vw;
  }

  .sm\:bottom-\[7vw\] {
    bottom: 7vw;
  }

  .sm\:left-\[3vw\] {
    left: 3vw;
  }

  .sm\:left-\[9\.5vw\] {
    left: 9.5vw;
  }

  .sm\:right-\[4vw\] {
    right: 4vw;
  }

  .sm\:right-\[7\.5vw\] {
    right: 7.5vw;
  }

  .sm\:right-\[9\.5vw\] {
    right: 9.5vw;
  }

  .sm\:top-0 {
    top: 0px;
  }

  .sm\:top-\[-3\.3vw\] {
    top: -3.3vw;
  }

  .sm\:top-\[12vw\] {
    top: 12vw;
  }

  .sm\:top-\[13\.5vw\] {
    top: 13.5vw;
  }

  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .sm\:mb-\[0\.313vw\] {
    margin-bottom: 0.313vw;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-\[10vw\] {
    margin-top: 10vw;
  }

  .sm\:mt-\[1vw\] {
    margin-top: 1vw;
  }

  .sm\:mt-\[2\.5vw\] {
    margin-top: 2.5vw;
  }

  .sm\:mt-\[20vw\] {
    margin-top: 20vw;
  }

  .sm\:mt-\[3vw\] {
    margin-top: 3vw;
  }

  .sm\:mt-\[4vw\] {
    margin-top: 4vw;
  }

  .sm\:mt-\[5vw\] {
    margin-top: 5vw;
  }

  .sm\:mt-\[7vw\] {
    margin-top: 7vw;
  }

  .sm\:block {
    display: block;
  }

  .sm\:inline {
    display: inline;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-\[0\.521vw\] {
    height: 0.521vw;
  }

  .sm\:h-\[0\.908vw\] {
    height: 0.908vw;
  }

  .sm\:h-\[0\.9vw\] {
    height: 0.9vw;
  }

  .sm\:h-\[1\.14vw\] {
    height: 1.14vw;
  }

  .sm\:h-\[1\.25vw\] {
    height: 1.25vw;
  }

  .sm\:h-\[1\.3vw\] {
    height: 1.3vw;
  }

  .sm\:h-\[1\.555vw\] {
    height: 1.555vw;
  }

  .sm\:h-\[1\.563vw\] {
    height: 1.563vw;
  }

  .sm\:h-\[1\.656vw\] {
    height: 1.656vw;
  }

  .sm\:h-\[1\.823vw\] {
    height: 1.823vw;
  }

  .sm\:h-\[14\.063vw\] {
    height: 14.063vw;
  }

  .sm\:h-\[14\.2655vw\] {
    height: 14.2655vw;
  }

  .sm\:h-\[17\.292vw\] {
    height: 17.292vw;
  }

  .sm\:h-\[1vw\] {
    height: 1vw;
  }

  .sm\:h-\[2\.604vw\] {
    height: 2.604vw;
  }

  .sm\:h-\[20\.833vw\] {
    height: 20.833vw;
  }

  .sm\:h-\[24\.531vw\] {
    height: 24.531vw;
  }

  .sm\:h-\[27\.344vw\] {
    height: 27.344vw;
  }

  .sm\:h-\[3\.125vw\] {
    height: 3.125vw;
  }

  .sm\:h-\[3\.646vw\] {
    height: 3.646vw;
  }

  .sm\:h-\[3\.935vw\] {
    height: 3.935vw;
  }

  .sm\:h-\[35vw\] {
    height: 35vw;
  }

  .sm\:h-\[4\.271vw\] {
    height: 4.271vw;
  }

  .sm\:h-\[4\.688vw\] {
    height: 4.688vw;
  }

  .sm\:h-\[41\.771vw\] {
    height: 41.771vw;
  }

  .sm\:h-\[4vw\] {
    height: 4vw;
  }

  .sm\:h-\[5\.208vw\] {
    height: 5.208vw;
  }

  .sm\:h-\[7\.0315vw\] {
    height: 7.0315vw;
  }

  .sm\:h-\[7\.419vw\] {
    height: 7.419vw;
  }

  .sm\:h-\[7\.813vw\] {
    height: 7.813vw;
  }

  .sm\:h-\[9\.688vw\] {
    height: 9.688vw;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-\[0\.625vw\] {
    width: 0.625vw;
  }

  .sm\:w-\[0\.821vw\] {
    width: 0.821vw;
  }

  .sm\:w-\[0\.8vw\] {
    width: 0.8vw;
  }

  .sm\:w-\[1\.302vw\] {
    width: 1.302vw;
  }

  .sm\:w-\[1\.3vw\] {
    width: 1.3vw;
  }

  .sm\:w-\[1\.563vw\] {
    width: 1.563vw;
  }

  .sm\:w-\[1\.656vw\] {
    width: 1.656vw;
  }

  .sm\:w-\[1\.823vw\] {
    width: 1.823vw;
  }

  .sm\:w-\[10\.417vw\] {
    width: 10.417vw;
  }

  .sm\:w-\[11\.667vw\] {
    width: 11.667vw;
  }

  .sm\:w-\[18\.229vw\] {
    width: 18.229vw;
  }

  .sm\:w-\[18\.385vw\] {
    width: 18.385vw;
  }

  .sm\:w-\[1vw\] {
    width: 1vw;
  }

  .sm\:w-\[2\.604vw\] {
    width: 2.604vw;
  }

  .sm\:w-\[21\.7vw\] {
    width: 21.7vw;
  }

  .sm\:w-\[22\.083vw\] {
    width: 22.083vw;
  }

  .sm\:w-\[3\.125vw\] {
    width: 3.125vw;
  }

  .sm\:w-\[3\.646vw\] {
    width: 3.646vw;
  }

  .sm\:w-\[36\.302vw\] {
    width: 36.302vw;
  }

  .sm\:w-\[36\.458vw\] {
    width: 36.458vw;
  }

  .sm\:w-\[37\.24vw\] {
    width: 37.24vw;
  }

  .sm\:w-\[4\.271vw\] {
    width: 4.271vw;
  }

  .sm\:w-\[4\.688vw\] {
    width: 4.688vw;
  }

  .sm\:w-\[4vw\] {
    width: 4vw;
  }

  .sm\:w-\[5\.208vw\] {
    width: 5.208vw;
  }

  .sm\:w-\[54\.948vw\] {
    width: 54.948vw;
  }

  .sm\:w-\[7\.419vw\] {
    width: 7.419vw;
  }

  .sm\:w-\[70\.75vw\] {
    width: 70.75vw;
  }

  .sm\:w-\[76\.042vw\] {
    width: 76.042vw;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:max-w-\[24\.271vw\] {
    max-width: 24.271vw;
  }

  .sm\:max-w-\[29\.635vw\] {
    max-width: 29.635vw;
  }

  .sm\:max-w-\[34\.74vw\] {
    max-width: 34.74vw;
  }

  .sm\:max-w-full {
    max-width: 100%;
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-\[1\.302vw\] {
    gap: 1.302vw;
  }

  .sm\:gap-x-\[0\.521vw\] {
    -moz-column-gap: 0.521vw;
         column-gap: 0.521vw;
  }

  .sm\:gap-x-\[0\.5vw\] {
    -moz-column-gap: 0.5vw;
         column-gap: 0.5vw;
  }

  .sm\:gap-x-\[1\.042vw\] {
    -moz-column-gap: 1.042vw;
         column-gap: 1.042vw;
  }

  .sm\:gap-x-\[1vw\] {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }

  .sm\:gap-y-0 {
    row-gap: 0px;
  }

  .sm\:gap-y-\[3vw\] {
    row-gap: 3vw;
  }

  .sm\:space-x-\[0\.521vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.521vw * var(--tw-space-x-reverse));
    margin-left: calc(0.521vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-x-\[0\.6vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.6vw * var(--tw-space-x-reverse));
    margin-left: calc(0.6vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-x-\[1\.042vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.042vw * var(--tw-space-x-reverse));
    margin-left: calc(1.042vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-x-\[1\.5vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5vw * var(--tw-space-x-reverse));
    margin-left: calc(1.5vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-x-\[1vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1vw * var(--tw-space-x-reverse));
    margin-left: calc(1vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-x-\[2vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2vw * var(--tw-space-x-reverse));
    margin-left: calc(2vw * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[0\.7vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.7vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.7vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[0\.938vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.938vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.938vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[1\.2vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.2vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.2vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[1\.563vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.563vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.563vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[1\.5vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[1vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[2\.5vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5vw * var(--tw-space-y-reverse));
  }

  .sm\:space-y-\[2vw\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2vw * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2vw * var(--tw-space-y-reverse));
  }

  .sm\:overflow-hidden {
    overflow: hidden;
  }

  .sm\:rounded-\[0\.26vw\] {
    border-radius: 0.26vw;
  }

  .sm\:rounded-\[0\.521vw\] {
    border-radius: 0.521vw;
  }

  .sm\:rounded-\[0\.781vw\] {
    border-radius: 0.781vw;
  }

  .sm\:p-\[0\.521vw\] {
    padding: 0.521vw;
  }

  .sm\:p-\[1vw\] {
    padding: 1vw;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-\[1\.302vw\] {
    padding-left: 1.302vw;
    padding-right: 1.302vw;
  }

  .sm\:px-\[1\.563vw\] {
    padding-left: 1.563vw;
    padding-right: 1.563vw;
  }

  .sm\:px-\[10vw\] {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .sm\:px-\[11\.667vw\] {
    padding-left: 11.667vw;
    padding-right: 11.667vw;
  }

  .sm\:px-\[14\.708vw\] {
    padding-left: 14.708vw;
    padding-right: 14.708vw;
  }

  .sm\:px-\[2\.604vw\] {
    padding-left: 2.604vw;
    padding-right: 2.604vw;
  }

  .sm\:px-\[32vw\] {
    padding-left: 32vw;
    padding-right: 32vw;
  }

  .sm\:px-\[4\.271vw\] {
    padding-left: 4.271vw;
    padding-right: 4.271vw;
  }

  .sm\:px-\[4\.375vw\] {
    padding-left: 4.375vw;
    padding-right: 4.375vw;
  }

  .sm\:py-\[0\.781vw\] {
    padding-top: 0.781vw;
    padding-bottom: 0.781vw;
  }

  .sm\:py-\[1\.042vw\] {
    padding-top: 1.042vw;
    padding-bottom: 1.042vw;
  }

  .sm\:pb-\[1\.8vw\] {
    padding-bottom: 1.8vw;
  }

  .sm\:pe-0 {
    padding-inline-end: 0px;
  }

  .sm\:pe-\[11\.667vw\] {
    padding-inline-end: 11.667vw;
  }

  .sm\:ps-0 {
    padding-inline-start: 0px;
  }

  .sm\:ps-\[2\.5vw\] {
    padding-inline-start: 2.5vw;
  }

  .sm\:ps-\[5\.271vw\] {
    padding-inline-start: 5.271vw;
  }

  .sm\:pt-\[0\.7vw\] {
    padding-top: 0.7vw;
  }

  .sm\:pt-\[4vw\] {
    padding-top: 4vw;
  }

  .sm\:pb-0 {
    padding-bottom: 0px;
  }

  .sm\:text-start {
    text-align: start;
  }

  .sm\:text-\[0\.833vw\] {
    font-size: 0.833vw;
  }

  .sm\:text-\[0\.938vw\] {
    font-size: 0.938vw;
  }

  .sm\:text-\[1\.042vw\] {
    font-size: 1.042vw;
  }

  .sm\:text-\[1\.146vw\] {
    font-size: 1.146vw;
  }

  .sm\:text-\[1\.25vw\] {
    font-size: 1.25vw;
  }

  .sm\:text-\[1\.875vw\] {
    font-size: 1.875vw;
  }

  .sm\:text-\[2\.083vw\] {
    font-size: 2.083vw;
  }

  .sm\:text-\[2\.865vw\] {
    font-size: 2.865vw;
  }

  .sm\:text-\[3\.333vw\] {
    font-size: 3.333vw;
  }

  .sm\:text-\[3\.256vw\] {
    font-size: 3.256vw;
  }

  .sm\:text-\[2vw\] {
    font-size: 2vw;
  }

  .sm\:shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .sm\:placeholder\:text-\[0\.938vw\]::-moz-placeholder {
    font-size: 0.938vw;
  }

  .sm\:placeholder\:text-\[0\.938vw\]::placeholder {
    font-size: 0.938vw;
  }
}